{% extends 'index.html' %}


{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message.decode('utf-8') }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<form action="/add" method='post'>
    <fieldset>
        <legend>Añadir nuevo contacto</legend>

        <label for="name">Nombre</label>
        <input type="text" id="name" name="name">

        <label for="phone">Teléfono</label>
        <input type="text" id="phone" name="phone">

        <label for="email">Email</label>
        <input type="text" id="email" name="email">

        <button type="submit" name="button">Añadir</button>
    </fieldset>
</form>

<p>
    <a href="/">Regresar</a>
</p>
    

{% endblock %}